[submodule "go-ipfs"]
	path = local-node/go-ipfs
	url = https://github.com/quieoo/go-ipfs.git
[submodule "local-node/go-ipfs"]
	path = local-node/go-ipfs
	url = https://github.com/quieoo/go-ipfs.git
[submodule "local-node/go-bitswap"]
	path = local-node/go-bitswap
	url = https://github.com/quieoo/go-bitswap.git
[submodule "local-node/go-ipfs-provider"]
	path = local-node/go-ipfs-provider
	url = https://github.com/quieoo/go-ipfs-provider.git
[submodule "local-node/go-merkledag"]
	path = local-node/go-merkledag
	url = https://github.com/quieoo/go-merkledag.git
[submodule "local-node/go-ipld-format"]
	path = local-node/go-ipld-format
	url = https://github.com/quieoo/go-ipld-format.git
[submodule "local-node/go-ds-flatfs"]
	path = local-node/go-ds-flatfs
	url = https://github.com/quieoo/go-ds-flatfs.git
[submodule "local-node/go-blockservice"]
	path = local-node/go-blockservice
	url = https://github.com/quieoo/go-blockservice.git
[submodule "local-node/go-unixfs"]
	path = local-node/go-unixfs
	url = https://github.com/quieoo/go-unixfs.git
[submodule "local-node/go-libp2p-kad-dht"]
	path = local-node/go-libp2p-kad-dht
	url = https://github.com/quieoo/go-libp2p-kad-dht.git
[submodule "local-node/go-ipfs-blockstore"]
	path = local-node/go-ipfs-blockstore
	url = https://github.com/quieoo/go-ipfs-blockstore.git
[submodule "traces/GlobeTraff"]
	path = traces/GlobeTraff
	url = https://github.com/quieoo/GlobeTraff.git
