*/.idea/
*/main
*/temp*
*/temp/*
*/cids
.idea
/httpfs/client
/httpfs/filenames
/httpfs/server
/httpfs/files/
/httpfs/downloaded/
clean.sh
copy.sh
/remote-api/httpclient
/exp3/main.go
/exp3/ip
~/
/local-node/log
!/local-node/add_neighbours_s

!/local-node/log2

!/local-node/logr
/tools/cid1
/tools/cid2
/tools/cid3
/tools/ItemCidUpload
/tools/mergedCid
/tools/PL.tar
/tools/PL.tar.gz
/tools/PL-Am
/tools/PL-Ge
/tools/PL-Jp
/tools/pl-jp
/tools/PL-Sg
/tools/servers
/tools/uploadNeighbours
