[submodule "go-ipfs"]
	path = local-node/go-ipfs
	url = https://github.com/quieoo/go-ipfs.git
[submodule "local-node/go-ipfs"]
	path = local-node/go-ipfs
	url = https://github.com/quieoo/go-ipfs.git
[submodule "local-node/go-bitswap"]
	path = local-node/go-bitswap
	url = https://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@github.com/quieoo/go-bitswap.git
